.home {
  .posts-container {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
  }
  
  h1 {
    margin-top: 150px;
    width: 60%;
    font-size: 50px;
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    h1 {
      width: 100%;
      text-align: center;
    }
  }
}