.post-card {
  width: 30%;
  border-radius: 10px;
  min-height: 360px;
  overflow: hidden;
  box-shadow: 0 30px 60px -10px rgb(0 0 0 / 22%), 0 18px 36px -18px rgb(0 0 0 / 25%);
  cursor: pointer;
  margin: 25px;

  &:hover {
    transition: 0.2s;
    transform: translateY(-2px);
    box-shadow: 0 50px 80px -20px rgb(0 0 0 / 27%), 0 30px 50px -30px rgb(0 0 0 / 30%);

    .info-container strong a {
      text-decoration: none;
      color: #2a9d8f;
    }
  }


  .img-container {
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;

    img {
      width: 100%;
      position: absolute;
    }
  }

  .info-container {
    padding: 20px;

    strong a {
      font-size: 20px;
      cursor: pointer;
      color: #264653;
      text-decoration: none;
    }

    p {
      font-size: 14px;
      height: 50px;
      text-overflow: ellipsis;
      overflow-wrap: normal;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      display: -webkit-box;
      white-space: normal;
      overflow: hidden;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    width: 100%;
    margin: 0;
    margin-bottom: 25px;
  }

  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    width: 45%;
    margin: 0;
  }
}