.subscribe-btn {
  position: fixed;
  top: 40px;
  right: 4rem;
  width: fit-content;
  padding: 0 8px;
  height: 60px;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #264653;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  box-shadow: rgb(0 0 0 / 40%) 0px 8px 16px -2px;
  border-radius: 999px;
  cursor: pointer;
  z-index: 100;
  outline: none;

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    top: unset;
    bottom: 12px;
    right: 12px;
    font-size: 12px;
    height: 50px;
  }

  &:hover {
    transition: opacity 0.3s ease;
    transition: 0.2s;
    transform: translateY(-1px);
    box-shadow: rgb(0 0 0 / 40%) 0px 8px 22px -2px;
  }

  img {
    margin-right: 4px;
  }
}

.modal-background {
  width: 100vw;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 101;
}

.modal {
  width: 400px;
  height: 200px;
  background-color: #fff;
  z-index: 102;
  position: fixed;
  left: calc(50% - 200px);
  top: calc(50vh - 100px);
  padding: 8px 40px;
  border-radius: 12px;
  
  form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    label {
      font-weight: bold;
      font-size: 18px;
    }

    input {
      width: 100%;
      height: 30px;
      padding-left: 8px;
      border: 1px solid #cfcfcf;
      border-radius: 4px;
      font-weight: 600;

      &.button {
        background-color: #264653;
        color: #fff;
        width: 415px;
        height: 40px;
        border: 0;
        cursor: pointer;
      }
    }
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .modal {
    width: 70%;
    left: 5%;

    label {
      text-align: center;
    }

    .button {
      width: 100% !important;
    }
  }
}