header {
  position: absolute;
  top: 40px;
  display: flex;
  align-items: center;

  img {
    width: 50px;
    border-radius: 50%;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-left: 20px;

    li {
      margin-right: 50px;

      a {
        text-decoration: none;
        color: #264653;
        font-weight: bold;

        &:hover {
          color: #2a9d8f;
        }
      }
    }
  }

  &.home-header {
    ul li a {
      color: #fafafa;
    }
  }

  @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    max-width: calc(100vw - 12px);
    overflow: hidden;

    ul {
      margin-left: 0px;
    }
  }
}