body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  background-color: #fafafa;
  padding: 40px 4rem;
}

div {
  background-color: #fafafa;
}

.mono-font {
  font-family: 'Merriweather',Georgia,Serif;
}